import random

answer =  random.randint(1, 100)

print ("Guess the number I'm thinking of. It ranges from 1 through 100.")

count = 0

while True:
    if count == 0:
        while True:
            try:
                guess = int(input("Number: "))
                count = count + 1
                break
            except ValueError:
                print ("Your number can't be text written.")
                count = count + 1
                continue
    else:
        while True:
            try:
                guess = int(input("Try again: "))
                count = count + 1
                break
            except ValueError:
                print ("Your number can't be text written.")
                count = count + 1
                continue
    if guess < 1 or guess > 100:
        print ("Number must be from 1 through 100.")
    elif guess < answer:
        print ("Too low.")
    elif guess > answer:
        print ("Too high.")
    else:
        print ("Correct! You took", count, "guesses.")
        break

